.nav-bar{
    color: #3F578C !important;
}
.mi-h{
    height: 60vh;
}
.w-img-cont{
    width: 40%;
    background-color: #BADBE3;
}
.texto{
    font-size: 30px;
    margin-right: 10%;
}
.m-net{
    margin-top: 45px;
    margin-bottom: 20px;
}
.bg-sec{
    background-color: #B1E6CF;
}
.w-cosas{
    width: 100%;
}
.w-lasco{
    width: 73vw!important;
}